html,body{
  width:100%;
  height:100%;
  padding:0;
  margin:0;
}

#es6repl {
  width: 100%;
  height: 100%;
}

.icon {
  top:2px;
  position:absolute;
  z-index: 1000;
}


#link {
  right:12px;
}

#link g, #clear g, #undo g {
  fill:#666;
}

#clear {
  right:28px;
}

#undo {
  display:none;
  right:44px;
}
